[Desktop Entry]
Name=AgentFlow Desktop
Exec=/opt/AgentFlow Desktop/AgentFlow Desktop %U
Icon=agentflow-desktop
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;
